body {
    font-family: 'ProximaNova-Regular';
	font-weight: normal;
	font-style: normal;
}

h1 {
    color: blue;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	min-width: 60px;
}

ul li{
	padding: 5px 5px 5px 5px;
}